html {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 70px; */
}

:root {
  --dark-gray-color: #ededed;
}

/* utility classes */
.primary-btn {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 15px;
  corner-shape: squircle;
  font-family: "Inter";
}

.primary-btn:hover {
  background-color: white;
  color: black;
  border: 2px black solid;
}

.secondary-btn {
  text-decoration: none;
  color: black;
  border: 2px black solid;
  padding: 10px 15px;
  border-radius: 15px;
  corner-shape: squircle;
  font-family: "Inter";
}

.secondary-btn:hover {
  background-color: black;
  color: white;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  box-sizing: border-box;
  border-bottom: solid 2px var(--dark-gray-color);
  top: 0;
  position: sticky;

  .logo {
    font-family: "KoHo";
    font-weight: bold;
    font-size: 1.5rem;
  }

  menu {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 30px;

    a {
      text-decoration: none;
      color: black;
      font-family: "Inter";
      font-size: 0.8rem;
      padding: 5px 10px;
      corner-shape: squircle;
      border-radius: 20px;
      background-color: white;
    }

    a:hover {
      background-color: var(--dark-gray-color);
    }
  }
}

/* hero-section */
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 95vh;
  gap: 20px;

  h1 {
    padding: 0;
    margin: 0;
    font-family: "Funnel Sans";
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
  }

  h2 {
    padding: 0;
    margin: 0;
    font-family: "KoHo";
    color: rgb(22, 22, 22);
    font-weight: 500;
  }

  p {
    padding: 0;
    margin: 0;
    font-family: "Raleway";
    text-align: center;
    color: rgb(85, 83, 83);
  }

  .btn-holder{
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }

  
}

/* scroll-down-animation */
.mouse-scroll {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}
.mouse {
  width: 30px;
  height: 50px;
  border: 2px solid #374151;
  border-radius: 20px;
  position: relative;
}
.wheel {
  width: 4px;
  height: 8px;
  background: #374151;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  animation: scroll 1.5s infinite;
}
.arrow-scroll {
  color: #374151;
  animation: fade 1.5s infinite;
}
@keyframes scroll {
  0% { top: 10px; opacity: 1; }
  100% { top: 30px; opacity: 0; }
}
@keyframes fade {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

/* making shit responsive */
@media (max-width: 768px) {
  nav {
    margin-top: 20px;
    padding-bottom: 15px;
    menu {
      display: none;
    }
  }
}
